@import "tailwindcss";
@import "@fontsource/inter/index.css";

@theme {
  --color-wtwPrimary: #48086f;
  --color-wtwSecondary: #7f35b2;

  --color-bgPrimary: "#f8fafc";
  --color-bgSecond: "#FFFFFF";
}

@layer base {
  body {
    @apply font-sans antialiased;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  }
}

@layer components {
  .sidebar-link {
    @apply text-gray-700 py-2 px-3 font-semibold rounded hover:bg-wtwSecondary/10 hover:text-wtwPrimary flex items-center gap-2 text-xs;
  }

  .sidebar-link-active {
    @apply text-wtwPrimary rounded;
  }

  .btn-primary {
    @apply bg-wtwPrimary text-white py-2 px-5 rounded-lg hover:bg-wtwSecondary cursor-pointer;
  }
}
