@layer base {
  body {
    @apply font-sans antialiased;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  }

  input[type="checkbox"] {
    @apply cursor-pointer accent-wtwSecondary;
  }

  button {
    @apply cursor-pointer;
  }
}
